site_name: geodemo_lee
site_description: A Python package for geodemo
site_author: Ly Not
site_url: https://LyMot.github.io/geodemo_lee
repo_url: https://github.com/LyMot/geodemo_lee

theme:
    palette:
        scheme: preference
    name: material
    icon:
        repo: fontawesome/brands/github
    features:
        - navigation.instant
        - search.highlight
        # - navigation.expand
        # - navigation.tabs
    custom_dir: "docs/overrides"

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - mkdocs-jupyter:
          include_source: True
          execute: True
        #   ignore_h1_titles: True
          
markdown_extensions:
    - attr_list
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - Contributing: contributing.md
  - FAQ: faq.md
  - Changelog: changelog.md
  - Report Issues: https://github.com/LyMot/geodemo_lee/issues
  - API Reference:
      - geodemo_lee module: geodemo_lee.md
      - common module: common.md
  - Notebooks:
      - Add Shapefile: notebooks/add_shapefile.ipynb
      - CSV to Point: notebooks/csv_to_point.ipynb
      - Earth Engine Intro: notebooks/earth_engine_intro.ipynb
      - Folium Intro: notebooks/folium_intro.ipynb
      - Geopandas Intro: notebooks/geopandas.ipynb
      - Ipfilechooser Intro: notebooks/ipyfilechooser_intro.ipynb
      - Ipyleaflet Intro: notebooks/ipyleaflet_intro.ipynb
      - Ipywidgets box: notebooks/ipywidgets_box.ipynb
      - Ipywidgets events: notebooks/ipywidgets_events.ipynb
      - Ipywidgets intro: notebooks/ipywidgets.ipynb
      - Toolbar Gui: notebooks/toolbar_gui.ipynb
      - Toolbar Intro: notebooks/toolbar.ipynb
      - Test Utils: notebooks/test_utils.ipynb
      - Whitebox Intro: notebooks/whitebox.ipynb

